@using RazorEngineExample;

<tr class="observation-row">
    <td class="observation-label">
        Property of SubModel
    </td>
    <td class="observation-view">
        @Model.SubModelProperty
    </td>
</tr>